@import './utils/variables';
@import './base/reset';
@import './utils/mixins';


// Layout
@import './layout/header';
@import './layout/footer';


// Components


// pages
@import './pages/directory' ;
@import './pages/homepage';
@import './pages/register';

.main{

    width: 80%;
    margin: auto;
    height: fit-content;

}